.preloader{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(90deg, #e34df5,#2ddffc);
    background: linear-gradient(90deg, #e34df5,#2ddffc);
    transition: 1s all;
    opacity: 1;
}
.loader{
    top: 70%;
    left: 44%;
    position: absolute;
    width: 16%;
    height: 0%;
    border: 1px solid white;
    border-radius: 2px;
}
.loder-2{
    top: 70%;
    left: 44%;
    position: absolute;
    width: 0%;
    border: 1px solid #CC1253;
    animation: laoder 30s ease-in-out infinite;
}

@keyframes laoder {
    to{
        width: 16%;
    }
}