body{
     background: -webkit-linear-gradient(171deg, #121212,#181818);
    background: linear-gradient(171deg, #121212,#181818);;
}
.text{
    color: white;
    position: absolute;
    bottom: 50%;
    left: 44%;
}
.restart{
    position: absolute;
    left: 50%;
    bottom: 43%;
}